
.token {
  background-color: #fff;
  padding-top: 45px;
  min-height: 100%;
}

.tokens-list {
  padding: 14px 20px;
  background: #fff;
  border-bottom: 1px solid #dbdbdb;
  .help-link {
    font-size: 14px;
    color: #868686;
    text-decoration: underline;
  }
}

.tokens-list-nav {
  div {
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    color: #B2B2B2;
    line-height:28px;
    margin-right: 20px;
    &:nth-last-child(1) {
      margin-right: 0;
    }
    &.active {
      color: #000;
    }
  }
}
